# outputs/
.venv/
__pycache__/
*.pyc
.DS_Store
logs/
data/cleaned/
data/processed/
outputs/**/*.csv
notebooks/**/*.csv
!**/summarized_patterns/comparison/**/*.csv
!**/summarized_patterns/raw/**/*.csv
data.csv
models/
!outputs/prompt & rag/20251028_085918 - Run /extracted_patterns/descripted_patterns.csv
!notebooks/embeddings_result/embeddings_call_graph_clusters_v1.csv